# Byte-compiled / optimized / DLL files
__pycache__/
__init__.py
*.py[cod]
*$py.class
.idea*
.DS_Store
.idea/
*.egg-info

# Dataset
archive/

# Tex files
tex/*
!tex/neurips_2019.sty
!tex/references.bib
!tex/report.pdf
!tex/report.tex
